<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<AppSettings>
		<!--Enable/Disable dev mode (ignore this, it's only for testing)-->
		<add key="isDev" value="true" />
	</AppSettings>
	<QoLs>
		<!--
			Enable/Disable a qol feature.
			If you disable a feature here even if you press its keycode it will not be activated in game.

			Accepted values true or false. Default: true
		-->
		<!--Add Game Speed controller-->
		<add key="speed" value="true" />
		<!--Free Camera with a 6000 max Pivot Distance-->
		<add key="camera" value="true" />
		<!--Enable/disable fog-->
		<add key="fog" value="true" />
		<!--Enable/disable building and transports collapse-->
		<add key="collapse" value="true" />
		<!--Add a field in the MineTower view where you can prioritize a specific resource for all excavators-->
		<add key="minetower" value="true" />
		<!--Add a field in the vehicle view where you can cancel all jobs-->
		<add key="vehicle" value="true" />
		<!--Change the area size of towers like the MineTower and the ForestryTower-->
		<add key="towerarea" value="true" />
	</QoLs>
	<KeyCodes>
		<!--
			Set the keycode for each feature.
			Accepted values (it's case-sensitive so make sure to copy paste the key name from this list, otherwise the default value will be selected):
				Backspace, Delete, Tab, Return, Pause, Escape, Space,
				Keypad0, Keypad1, Keypad2, Keypad3, Keypad4, Keypad5, Keypad6, Keypad7, Keypad8, Keypad9, KeypadPeriod, KeypadDivide, KeypadMultiply, KeypadMinus, KeypadPlus, KeypadEnter, KeypadEquals,
				UpArrow, DownArrow, RightArrow, LeftArrow, Insert, Home, End, PageUp, PageDown,
				F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, F13, F14, F15,
				Alpha0, Alpha1, Alpha2, Alpha3, Alpha4, Alpha5, Alpha6, Alpha7, Alpha8, Alpha9,
				Exclaim, DoubleQuote, Hash, Dollar, Percent, Ampersand, Quote, LeftParen, RightParen, Asterisk, Plus, Comma, Minus, Period, Slash, Colon, Semicolon, Less, Equals, Greater, Question, At,
				LeftBracket, Backslash, RightBracket, Caret, Underscore, BackQuote,
				A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z,
				LeftCurlyBracket, RightCurlyBracket, Tilde, Numlock, CapsLock, ScrollLock,
				RightShift, LeftShift, RightControl, LeftControl, RightAlt, LeftAlt, LeftMeta, LeftCommand, LeftApple, LeftWindows, RightMeta, RightCommand, RightApple, RightWindows,
				AltGr, Help, Print, Break, Menu,
				Mouse0, Mouse1, Mouse2, Mouse3, Mouse4, Mouse5, Mouse6
		-->
		<!--
			KeyCode to increase game speed (note make sure you choose different keys from the one in game like plus and minus)
			Default: Alpha9
		-->
		<add key="incSpeed" value="Alpha9" />
		<!--
			KeyCode to decrease game speed (note make sure you choose different keys from the one in game like plus and minus)
			Default: Alpha8
		-->
		<add key="decSpeed" value="Alpha8" />
		<!--
			KeyCode to enable/disable freeCamera
			Default: F9
		-->
		<add key="freeCamera" value="F9" />
		<!--
			KeyCode to enable/disable fog
			Default: F10
		-->
		<add key="fog" value="F10" />
		<!--
			KeyCode to enable/disable building and transport collapse
			Default: Keypad9
		-->
		<add key="collapse" value="Keypad9" />
		<!--
			KeyCode to enable/disable vehicle tool
			Default: Comma
		-->
		<add key="vehicletool" value="Comma" />
		<!--Enable/Disable dev mode (ignore this, it's only for testing)-->
		<add key="dev" value="F6" />
	</KeyCodes>
	<DefaultState>
		<!--
			Set the default state of each feature when you start the game (if it's enabled or disabled)
			Enabling or disabling a feature here will not disable its keycode, you can always change its state in game
			Some features don't have a default state and can only be disabled or enabled in QoLs section (Like: incSpeed, decSpeed...)

			Accepted values true or false.
		-->
		<!--Default: false-->
		<add key="freeCamera" value="false" />
		<!--Default: true-->
		<add key="fog" value="true" />
		<!--Default: false-->
		<add key="collapse" value="false" />
		<!--
			Accepted values: 1 - 22
			Default: 2
		-->
		<add key="towerarea" value="2" />
	</DefaultState>
</configuration>